/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --fonts: "Inter-Variable";
  --fonts-accent: "Press Start 2P";
  --font-weight-text: 400;
  --font-weight-title: 700;
  --background-color: #fff;
  --text-color: #000;
  --border-color: var(--text-color);
  --fill-contour: var(--text-color);
  --fill-sparks: #ff0000;
  --button-accent-color: var(--background-color);
  --text-stroke-color: var(--background-color);
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
  --fonts: "Inter-Variable";
  --fonts-accent: "Press Start 2P";
  --font-weight-text: 465;
  --font-weight-title: 785;
  --background-color: #000;
  --text-color: #00cc14;
  --border-color: var(--text-color);
  --fill-contour: var(--text-color);
  --fill-sparks: #ff0000;
  --button-accent-color: var(--text-color);
  --text-stroke-color: var(--text-color);
  --background-image: repeating-linear-gradient(
      to right,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(to bottom, #007f0c, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fonts: "Inter-Variable";
    --fonts-accent: "Press Start 2P";
    --font-weight-text: 465;
    --font-weight-title: 785;
    --background-color: #000;
    --text-color: #00cc14;
    --border-color: var(--text-color);
    --fill-contour: var(--text-color);
    --fill-sparks: #ff0000;
    --button-accent-color: var(--text-color);
    --text-stroke-color: var(--text-color);
    --background-image: repeating-linear-gradient(
        to right,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(to bottom, #007f0c, #004306);
  }
}
